html, body {
    height: 100%;
    font-family: 'East Sea Dokdo', cursive;
    background-size: cover;
    background-color: darksalmon;
    font-size: 24px;
}

h1 {
    text-decoration: underline;
    font-size: 48px;
}

ul {
    height: 50%;
}
.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-item {
    font-size: 34px;
}

.glyphicon-trash {
    font-size: 18px;
    color: black;
}

.glyphicon-ok {
    font-size: 18px;
    color: lightgreen;
}